body {
    margin: 0;
}

.top-rectangle {
    width: 100%;
    height: 100px;

    background: rgba(255, 255, 255, 0.15); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation-button, .gamedev-dropdown-button, .project-dropdown-button {
    width: 150px;
    height: 50px;
    margin-right: 20px;
    
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.navigation-button::after, .gamedev-dropdown-button::after, .project-dropdown-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.navigation-button::before, .gamedev-dropdown-button::before, .project-dropdown-button::before {
    content: "";
    background: linear-gradient(
        45deg,
        #42f5b0, #af5eff, #42f5b0, #af5eff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);

    /*animation*/
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.navigation-button:hover::before, .gamedev-dropdown-button:hover::before, .project-dropdown-button:hover::before {
    opacity: 1;
}

.navigation-button:active:after, .gamedev-dropdown-button:active:after, .project-dropdown-button:active:before {
    background: transparent;
}

.navigation-button:active, .gamedev-dropdown-button:active, .project-dropdown-button:active {
    color: black;
    font-weight: bold;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}

.navigation-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; /* Keeps it hidden */
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    z-index: 10;

    top: 100%;
}

.gamedev-dropdown-content a, .project-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.gamedev-dropdown-content a:hover, .project-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.gamedev-dropdown-content.show {
    display: block;
}

.project-dropdown-content.show {
    display: block;
}